@import '~vue-material/dist/theme/engine';

@include md-register-theme('default', (
    primary:#2e86de,
    accent: #feca57,
    theme: light
));

@import "~vue-material/dist/theme/all";
@import '~vue-material/dist/vue-material.min.css';

